###################################
# POSTGRESQL BACKUP SCRIPT CONFIG #
###################################

# User who can do backups. Optional, leave blank to skip check
BACKUP_USER= 

# User who connects to PostgreSQL. Optional, leave blank to use default value (postgres)
USERNAME=

# Hostname for connecting to PostgreSQL. Optional, leave blank to use defaut value (localhost)
HOSTNAME=

# Directory to store backups. Must be set
BACKUP_DIR=/home/backups

# Enables verbose mode (prints log info to console). Set YES/NO to enable/disable verbose mode
VERBOSE=YES

#Activates logging of script work process. Set YES/NO to enable/disable logging
ENABLE_LOGGING=YES

#Directory to store logfile. Must be set
LOGPATH=/var/log/pg_backup/pg_backup.log

# Time period (in days), after which backups are deleting automatically. Must be set
DAYS_TO_KEEP=30


